@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Sansita+Swashed&display=swap');

img {
    max-width: 90%;
    /*max-height: 80%;*/
}

.attraction-card-layout {

}

.attraction-card-subHeader {
    font-family: 'Dancing Script', cursive;
}

.attraction-card-transparent {
    /*background-color: rgba(255,255,255,0.5);*/
}

.attraction-card-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}

.attraction-card-caption-layout {
    font-family: "Open Sans";
    margin-left: 5%;
    display: block;
    float: left;
    width: 12%;
}

.attraction-card-info-layout {
    font-family: "Open Sans";
    color: dimgray;
    margin-left: auto;
    margin-right: auto;
    word-break: keep-all;
    display: block;
}

.attraction-card-block-layout {
    margin-top: 5%;
    display: block;
}

.attraction-card-row:after {
    content: "";
    display: table;
    clear: both;
}