.mytrip {
   display: flex;
}

.list {
  height: 780px;
}

.left-side {
    flex: 50%;
    padding: 20px;
    width: 850px;
}

.right-side {
    flex: 50%;
}

.addPlanButton {
  margin-top: 10px;
}

.attraction_list {
  overflow: scroll;
  height: 700px;
}

.left-bottom-button {
    float: bottom;
}
