.my-trip {
   display: flex;
}

.left-side {
    flex: 50%;
    padding: 20px;
    width: 850px;
    overflow: scroll;
}

.right-side {
    flex: 50%;
}

.addPlanButton {
  margin-top: 10px;
}

.attraction_list {
  overflow: scroll;
  height: 700px;
}

.left-bottom-button {
   margin-top: 65px;
}

.save-my-plan-btn {
    margin-left: 20px;
}

.show-map-btn {
    margin-left: 100px;
}
