.register {
   width: 500px;
   margin: 0 auto;
}

.register-button {
   width: 100px;
   margin: auto;
}

.register-layout {
   margin: 0;
   position: absolute;
   top: 350px;
   left: 45%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}
