.search_bar {
    margin-left: 28px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.icon {
    margin-left: 5px;
}

.attraction_list {
    margin-top: 30px;
}

.divider-flex {
    height: 1px;
    border-top: 1px solid #dcbc60;
    text-align: center;
}

.add-to-plan-btn {
    margin-top: 20px;
}

