@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Sansita+Swashed&display=swap');

.App {
    text-align: center;
    padding: 25px;
}

.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    pointer-events: none;
    height: 150px;
    padding-bottom: 85px;
    padding-right: 270px;
}

.App-header {
    border-radius: 10px;
    background-color: #5F9EA0;
    color: white;
    height: 60px;
}

.App-title {
    /*float: left;*/
    padding-bottom: 7px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 40px;
    color: white;
    align-content: center;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*   .App-logo {*/
/*       animation: App-logo-spin infinite 20s linear;*/
/*   }*/
/*}*/

/*@keyframes App-logo-spin {*/
/*   from {*/
/*       transform: rotate(0deg);*/
/*   }*/
/*   to {*/
/*       transform: rotate(360deg);*/
/*   }*/
/*}*/

.logout {
    float: right;
    padding-top: 30px;
    padding-right: 17px;
    color: white;
    font-weight: bold;
    font-family: BlinkMacSystemFont;
}

